body{
  background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png )
}

.card-footer{
  height:500px;
}

.carta{
  margin-left:100px;
  margin-bottom: 50px;
  border-radius: 100%;
}

.life{
  position: relative;
  bottom: 35px;
}

.card-header{
  height: 60px;
  background-color: rgba(193, 243, 239, 0.432) ;
}

.card-body{
  width: 80%;
  position: relative;
  bottom: 20px;
  background: url(https://media.giphy.com/media/26ufkQ17bapQ89hEk/giphy.gif);
}
.card-footer{
  height: 100px;
  position: relative;
  bottom: 22px;
 
 
}

.poder{
  position: relative;
  bottom: 37px ;
}